body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
}

.table-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.table-container table {
    margin: 10px;
    border-collapse: collapse;
}
.table-container th, .table-container td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.tables-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.green {
    background-color: #d4edda;
    color: #155724;
}

.red {
    background-color: #f8d7da;
    color: #721c24;
  }

.nav-bar {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.nav-link { margin: 0 10px; }

#player_name{margin: 10px;}

#autocomplete-suggestions {
    border: 1px solid #ccc;
    background-color: white;
}

#autocomplete-suggestions div:hover {
    background-color: #e0e0e0;
}