{% extends "modes_layout.html" %}

{% block content %}

    {% set current_route = 'comparison' %}

    <h1>Comparison of Players</h1>
    <form method="POST">
        <div class="player-input-container">
            <input type="text" id="new_player" placeholder="Enter player name" autofocus>
            <button type="button" onclick="addPlayer()">Add Player</button>
        </div>
        <textarea id="players_area" name="players" rows="5" cols="30" placeholder="Added players will appear here" required>{{ players|join('\n') }}</textarea><br>
        <button type="submit">Compare Players</button>
    </form>

    <div class="table-container">
        <table>
            <tr>
                <th>Statistic</th>
                {% for player_name in players %}
                <th>{{ player_name }}</th>
                {% endfor %}
            </tr>
            <tr>
                <td>Number of Tournaments</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.tournaments_count }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>First Tournament</td>
                {% for stats in stats_list %}
                <td>{{ stats.first_tournament }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Last Tournament</td>
                {% for stats in stats_list %}
                <td>{{ stats.last_tournament }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Total Possible Games</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.max_possible_games }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Played Games</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.played_games }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Skipped Games</td>
                {% for stats in stats_list %}
                <td class="stat negative">{{ stats.skipped_games }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Wins</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.wins }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Draws</td>
                {% for stats in stats_list %}
                <td>{{ stats.draws }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Losses</td>
                {% for stats in stats_list %}
                <td class="stat negative">{{ stats.losses }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Points Percentage</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.percent_of_points|round(2) }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Win Percentage</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.percent_of_wins|round(2) }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Draw Percentage</td>
                {% for stats in stats_list %}
                <td>{{ stats.percent_of_draws|round(2) }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Loss Percentage</td>
                {% for stats in stats_list %}
                <td class="stat negative">{{ stats.percent_of_losses|round(2) }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <td>First Place Finishes</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.first_place }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Second Place Finishes</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.second_place }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Third Place Finishes</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.third_place }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Top 5 Finishes</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.top5 }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Top 10 Finishes</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.top10 }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Top 100 Finishes</td>
                {% for stats in stats_list %}
                <td class="stat positive">{{ stats.top100 }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Mean Place</td>
                {% for stats in stats_list %}
                <td class="stat negative">{{ stats.mean_place|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Median Place</td>
                {% for stats in stats_list %}
                <td class="stat negative">{{ stats.median_place }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>

{% endblock %}