{% extends "modes_layout.html" %}

{% block content %}

    {% set current_route = 'player' %}

    <h1>Player Statistics</h1>
    <form method="POST">
        <input type="hidden" name="start_date" value="{{ start_date }}">
        <input type="hidden" name="stop_date" value="{{ stop_date }}">
        <label for="player_name">Enter Player Name:</label>
        <input type="text" id="player_name" name="player_name" value="{{ player_name }}" autofocus requireds>
        <button type="submit">Show Stats</button>
    </form>
    <h2>Performance Summary for {{ player_name }}</h2>
        <div class="table-container">
            <table>
                <tr><th>Statistic</th><th>Value</th></tr>
                <tr><td>Number of Tournaments</td><td>{{ stats.tournaments_count }}</td></tr>
                <tr><td>First Tournament</td><td>{{ stats.first_tournament }}</td></tr>
                <tr><td>Last Tournament</td><td>{{ stats.last_tournament }}</td></tr>
                <tr><td>Max Possible Games</td><td>{{ stats.max_possible_games }}</td></tr>
                <tr><td>Played Games</td><td>{{ stats.played_games }}</td></tr>
                <tr><td>Skipped Games</td><td>{{ stats.skipped_games }}</td></tr>
                <tr><td>Wins</td><td>{{ stats.wins }}</td></tr>
                <tr><td>Draws</td><td>{{ stats.draws }}</td></tr>
                <tr><td>Losses</td><td>{{ stats.losses }}</td></tr>
                <tr><td>Points Percentage</td><td>{{ stats.percent_of_points|round(2) }}%</td></tr>
                <tr><td>Win Percentage</td><td>{{ stats.percent_of_wins|round(2) }}%</td></tr>
                <tr><td>Draw Percentage</td><td>{{ stats.percent_of_draws|round(2) }}%</td></tr>
                <tr><td>Loss Percentage</td><td>{{ stats.percent_of_losses|round(2) }}%</td></tr>
                <tr><td>First Place Finishes</td><td>{{ stats.first_place }}</td></tr>
                <tr><td>Second Place Finishes</td><td>{{ stats.second_place }}</td></tr>
                <tr><td>Third Place Finishes</td><td>{{ stats.third_place }}</td></tr>
                <tr><td>Top 5 Finishes</td><td>{{ stats.top5 }}</td></tr>
                <tr><td>Top 10 Finishes</td><td>{{ stats.top10 }}</td></tr>
                <tr><td>Top 100 Finishes</td><td>{{ stats.top100 }}</td></tr>
                <tr><td>Mean Place</td><td>{{ stats.mean_place|round(2) }}</td></tr>
                <tr><td>Median Place</td><td>{{ stats.median_place }}</td></tr>
            </table>
        </div>

        <h3>Perfomance of {{ player_name }} by rounds</h3>
        <div class="table-container">
            <table>
                <tr>
                    <th>Statistic / Round</th>
                    {% for round_num in range(1, 12) %}
                    <th>{{ round_num }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Played Games</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.played_games }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Skipped Games</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.skipped_games }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Wins</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.wins }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Draws</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.draws }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Losses</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.losses }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Points Percentage</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.percent_of_points|round(2) }}%</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Win Percentage</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.percent_of_wins|round(2) }}%</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Draw Percentage</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.percent_of_draws|round(2) }}%</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Loss Percentage</td>
                    {% for round in rounds_stats %}
                    <td>{{ round.percent_of_losses|round(2) }}%</td>
                    {% endfor %}
                </tr>
            </table>
        </div>

        <div class="tables-container">
            <div>
                <h3>Most Wins Against</h3>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Player</th>
                            <th>Wins</th>
                        </tr>
                        {% for player, wins in opponents[0] %}
                            <tr>
                                <td>{{ player }}</td><td>{{ wins }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div>
                <h3>Most Draws Against</h3>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Player</th>
                            <th>Draws</th>
                        </tr>
                        {% for player, draws in opponents[1] %}
                            <tr>
                                <td>{{ player }}</td><td>{{ draws }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div>
                <h3>Most Losses Against</h3>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Player</th>
                            <th>Losses</th>
                        </tr>
                        {% for player, losses in opponents[2] %}
                            <tr>
                                <td>{{ player }}</td><td>{{ losses }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <img src="{{ url_for('static', filename='pictures/' + player_name.replace(' ', '_') + '_ranking.png') }}"
         alt="Player Ranking" width="1200" height="900">

{% endblock %}