{% extends "layout.html" %}

{% block content %}

    {% set current_route = 'tournaments' %}

    <h1>Tournament Statistics</h1>
        <img src="{{ url_for('static', filename='images/num_of_players.png') }}" alt="Number of Players">
        <img src="{{ url_for('static', filename='images/top_10_score.png') }}" alt="Top 10 Score">
        <img src="{{ url_for('static', filename='images/top_10_rating.png') }}" alt="Top 10 Rating">
        <img src="{{ url_for('static', filename='images/skips_per_round.png') }}" alt="Skips Per Round">
        <img src="{{ url_for('static', filename='images/winners_by_starting_rank.png') }}" alt="Winners by Starting Rank (bar)">
        <img src="{{ url_for('static', filename='images/winners_by_rating.png') }}" alt="Winners by Starting Rank (hist)">
        <img src="{{ url_for('static', filename='images/top_3_finishers.png') }}" alt="Top 3 Finishers">

        <h2>Top Participators</h2>
        <div class="table-container">
            <table>
                <tr><th>Rank</th><th>Player</th><th>Participations</th></tr>
                {% for name, count in top_participators.items() %}
                <tr><td>{{ loop.index }}</td><td>{{ name }}</td><td>{{ count }}</td></tr>
                {% endfor %}
            </table>
        </div>

{% endblock %}